image: registry.gitlab.com/quarktheawesome/sonic2013-wiiu/ci

stages:
    - container
    - build

variables:
    GIT_SUBMODULE_STRATEGY: recursive

container-build:
    stage: container
    image: docker:stable
    services:
        - docker:dind
    script:
        - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
        - docker build -t registry.gitlab.com/quarktheawesome/sonic2013-wiiu/ci -f Dockerfile.wiiu .
        - docker push registry.gitlab.com/quarktheawesome/sonic2013-wiiu/ci
    only:
        changes:
            - Dockerfile.wiiu

sonic1-build:
    stage: build
    script:
    - make -f Makefile.wiiu BASE_PATH="fs:/vol/external01/wiiu/apps/sonic1/" -j$(nproc)
    artifacts:
        paths:
        - bin/RSDKv4.rpx
        name: "${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"

sonic2-build:
    stage: build
    script:
    - make -f Makefile.wiiu BASE_PATH="fs:/vol/external01/wiiu/apps/sonic2/" -j$(nproc)
    artifacts:
        paths:
        - bin/RSDKv4.rpx
        name: "${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
